
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-size: 10px;
}
body{
    background-color: gray;
    margin:0px;
    padding: 0px;
    font-family:  'Roboto', sans-serif ;

}

.links{
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
.links h1{
    font-size: 4rem;
}
main{
    width: 100vw;
    height: 100vh;
}

.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.card{
    width: 300px;
    margin: 20px;
    background-color: white;
    border: groove 2px black;
}

.image img{
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;

}
.content{
    font-size: 2rem;
    text-align: center;
}
