html{
    font-size:10px
}
body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    
}


.Quadro{
    margin-top: 5%;
    width: 50%;
    border: solid 3px white;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
}
#Entrada{
    text-align: center;
    width: 99%;
    font-size:4rem;
}
#Botão_Confirmar{
    font-size:4rem;
    width: 100%;
    height: 100px;
}
#Saida{
    text-align: center;
    font-size: 10rem;
}
@media (max-width: 630px) {
    html{  
        font-size: 6px;
    }
}
@media (max-width: 380px) {
    html{  
        font-size: 4px;
    }
}